@import "variables";

.footer {
  font-size: 1em;
  background-color: $footer-bg-color;
  color: $footer-font-color;
  font-weight: 400;

  .footer-link-area {
    border: 1px solid black;

    .list-group-item {
      background-color: $footer-bg-color;
      font-size: .9em;
      border: none;
      cursor: pointer;
    }
  }

  .footer-details-area {
    .softvessel-logo {
      justify-content: center !important;

      img {
        width: 10em;
      }
    }

    span {
      font-size: .9em;
    }
  }

  svg {
    cursor: pointer;
  }
}