@import "variables";

.register {
  font-size: 1em;

  .register-form {
    h3 {
      font-size: 3em;
      color: $logo-color;
    }

    form {
      border-bottom: 1px solid $product-border-color;

      .form-group {
        .form-label {
          font-size: 1em;
          font-weight: 500;
        }

        .form-control {
          border: 2px solid $product-border-color;
          font-size: 1em;
        }

        small {
          font-weight: 700;
        }
      }

      .form-check {
        label {
          font-size: .9em;
          font-weight: 500;
        }
      }

      button {
        background-color: $logo-color;
        min-width: 7em;
        border-color: $logo-color;
      }
    }

    .signup {
      font-weight: 500;
    }

  }
}

@media (max-width: $layout-breakpoint-xs) {

}