//--Top-Nav-Bar
$nav-link-color:black;
$logo-color: #0abd48;
$badge-shadow-color:rgba(0, 0, 0, 0.5);
$badge-font-color:white;

//--Bottom-Nav
$bottom-nav-font-color: #555555;
$bottom-nav-dropdown-border: #1E7E34;